body {
  background-color: var(--body-bg);
  color: var(--body-color);
  letter-spacing: var(--letter-spacing);
}
a {
  color: var(--anchor-color);
}

@media (prefers-color-scheme: dark) {

  html {
    filter: invert(1) hue-rotate(.5turn);
  }

  img {
    filter: invert(1) hue-rotate(.5turn);
  }

  img:not(:hover) {
    opacity: .7;
    transition: opacity .25s ease-in-out;
  }
}