<Doctype_html>
<html>
	<head>
		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
		<title>ISN</title>
	</head>
	
	<body>
		<h1> <img src="static/images/image.png"> </h1>
		

		<header>
		<nav>
		<ul >
		<li ><a href="https://solidarites-sante.gouv.fr/sante-et-environnement/air-exterieur/qualite-de-l-air-exterieur-10984/article/qualite-de-l-air-sources-de-pollution-et-effets-sur-la-sante"target="_blank">L'actualité </a></li>
		<li ><a href="https://www.1jour1actu.com/info-animee/__trashed"target="_blank">Pollution</a></li>
		<li><a href="https://www.encyclopedie-environnement.org/air/les-pollutions-de-lair/"target="_blank">Histoire</a></li>
		</ul>
		</nav>
		</header>
		
		
		<section>
  
		<h1> <a href="https://www.selecteo.fr/le-blog/63-quel-dechet-dans-quelle-poubelle"target="_blank"><strong> L' environnement</strong></a></h1>
		
		<h2><em> <strong>Pour protéger la planète, l'environnement; la mise en place de poubelles pour le recyclage a était mis.
		Cela permet de réduire la pollution.
		Depuis janvier 2020 toutes les villes de France détiennent les mêmes codes de recyclage pour les poubelles. 
		Ils ont les mêmes dates de sortie, plus les couleurs des poubelles ne varient plus d'une région à une autre.
		</strong></em></h2>
		  </section>
		  
		  
		<blockquote>
		<dd>
		<article> <img src="static/images/poubelle3.png"> 
		<div>
		<h3><a href="https://www.cjoint.com/doc/20_04/JDknTTcKjyF_verte.jpg"target="_blank"> Poubelle Vert</h3> </a>
		<p> La poubelle pour les végétaux est la poubelle verte. Dans cette poubelle nous pouvons mettre des herbes coupées, des feuilles, des fleurs. Nous pouvons mettre tous les déchets organiques. </p>
		</div>
		</article> 
		</dd>
		</blockquote>
		
		
		
		<blockquote>
		<dd>
		<article> <img src="static/images/poubelle5.png"> 
		<div>
		<h3> <a href="https://www.cjoint.com/doc/20_04/JDknUQ80yRF_jaune.jpg"target="_blank">Poubelle Jaune</h3> </a>
		<p>La poubelle pour les emballages et les papiers est la poubelle jaune. Cette poubelle sert à mettre tous les emballages en carton, en plastique, en métal et les papiers.
		Toutefois, il ne faut pas enfermer les déchets dans un sac-poubelle, il ne faut pas les imbriquer. Enfin, les textilles et les chaussures ne doivent pas être mis dans cette poubelle.</p> 
		 </div>
		</article> 
		</dd>
		</blockquote>
		
		
		
		<blockquote>
		<dd>
		<article> <img src="static/images/poubelle4.png"> 
		<div>
		<h3><a href="https://www.cjoint.com/doc/20_04/JDknVpSgVeF_grise.jpg"target="_blank"> Poubelle Grise</h3> </a>
		<p>Pour tous les ordures ménagères sauf les objets électriques et toxiques, la poubelle grise est celle qui convient. On peut y mettre des objets des restes alimentaires le tout dans des sacs-poubelles.</p> 
		</div>
		</article>
		</dd>		
		</blockquote>
		
		
		
		<table>
			<footer>
			<ul>
			<li ><a href="qui.html">Qui sommes nous? </a></li>
			<li ><a href="contact.html">Nous contacter</a></li>
			<li><a href="condition.html">Condition pour aider la planète</a></li>
			<li><a href="qcm.html" > QCM </a> </li>
			 
			</ul>
			</footer>
			</table>
		
		</body>
</html>
		
		
		
		




















