<Doctype_html>
<html>
	<head>
		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='condition.css') }}" rel="stylesheet" type="text/css" />
		<title>Condition pour aider la planète</title>
	</head>
	
	<header>
		<nav>
		<ul >
		<li ><a href="accueil.html" target="_blank">Accueil </a></li>
		<li ><a href="https://solidarites-sante.gouv.fr/sante-et-environnement/air-exterieur/qualite-de-l-air-exterieur-10984/article/qualite-de-l-air-sources-de-pollution-et-effets-sur-la-sante"target="_blank">L'actualité </a></li>
		<li ><a href="https://www.1jour1actu.com/info-animee/__trashed"target="_blank">Pollution</a></li>
		<li><a href="https://www.encyclopedie-environnement.org/air/les-pollutions-de-lair/"target="_blank">Histoire</a></li>
		</ul>
		</nav>
		</header>
	
	<p> 	
	<p>		
	<p>	<h1>	Aide à la Planète</h1>
	
	
	<p>	<h2>		Pour mieux respecter l'environnement il n'y a pas que les poubelles vertes, jaunes, gris. Nous pouvons jeter nos objets dans d'autres catégories de poubelle.
	<p>
	<p>		Tout d'abord, il y a les poubelles pour les emballages en verre où nous pouvons mettre des bouteilles en verre des flacons de parfum, des bocaux.
	<p> 	Aussi, nous avons les encombrants qui sont récupérés par la Mairie une fois par mois. Ces objets doivent respecter certaines normes. Ils doivent avoir une taille inférieure à 80 cm et ils doivent être non électriques et toxiques.
	<p>     Les meubles, les grands objet en métal, les literies et les sanitaires sont placés dans la catégorie des encombrants.
	<p> 
	<p>		De plus, nous pouvons déposer nos déchets à la déchèterie telles des souches, des troncs d'arbre, du textile, des produits toxiques(solvants, peinture) et des matériaux de constructions.
	<p> 	Certains déchets peuvent être déposés à la déchetterie et à des magasins spécialisés pour ces produire ou des magasins normaux. On peut leur déposer des pneus de voiture, des piles et de l'équipement électroniques.
	<p>
	<p>		Enfin, il y a les poubelles dasris qui servent pour le domaine médical. Cette poubelle permet de mettre les déchets infectieux (bandage, pansement, seringue...)
	</h2> </p>







<footer>	
		<li ><a href="qui.html">Qui sommes nous? </a></li>
		<li ><a href="contact.html">Nous contacter</a></li>
		<li><a href="qcm.html">QCM</a></li>
		
		</footer> 