<Doctype_html>
<html>
	<head>
				
 		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>
	
 </SCRIPT>
	</head>
	
	
	
	
	
	<header>
		<nav>
		<ul >
		<li ><a href="accueil.html" target="_blank">Accueil </a></li>
		<li ><a href="https://solidarites-sante.gouv.fr/sante-et-environnement/air-exterieur/qualite-de-l-air-exterieur-10984/article/qualite-de-l-air-sources-de-pollution-et-effets-sur-la-sante"target="_blank">L'actualité </a></li>
		<li ><a href="https://www.1jour1actu.com/info-animee/__trashed"target="_blank">Pollution</a></li>
		<li><a href="https://www.encyclopedie-environnement.org/air/les-pollutions-de-lair/"target="_blank">Histoire</a></li>
		</ul>
		</nav>
		</header>
		
		
		
<HR>
 <h2> Voici un QCM pour voir si vous avez tout retenue. </h2>
 <h2>Vous aurez à chaque fois une question avec une réponse possible.</h2>
 <h2>Vous devez faire 8 questions. </h2>
 <h2>Bonne Chance!☺</h2>
 
 <h3><a href="qcm1.html" > Commencer le QCM </a></h3>



	

	
		
		


<footer>	
		<li ><a href="qui.html">Qui sommes nous? </a></li>
		<li ><a href="contact.html">Nous contacter</a></li>

		<li><a href="condition.html">Condition pour aider la planète</a></li>
		</footer> 