
<Doctype_html>
<html>
	<head>				
 		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>




<HR>
<FORM action="qcm2.html" method="post" NAME="qcm1">

<B>Question 1/8 :</B><BR>
<p>Dans quelle poubelle vont les bouteilles en plastique?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT required="required" value="1" TYPE="RADIO" NAME="choix">Poubelle Verte</INPUT></p>
<p><INPUT value="2" TYPE="RADIO" NAME="choix">Poubelle Jaune</INPUT></p>
<p><INPUT value="3" TYPE="RADIO" NAME="choix">Poubelle Grise</INPUT></p>
<BR><BR>
<input type="hidden" name="question" value="0"/>

<input type="submit" value="Envoyer" />	

</FORM>
</HR>	

 
 <HTML>

<HEAD>


