

<Doctype_html>
<html>
	<head>
			<meta charset="utf-8/">
	<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>

	
	
<HR>
<FORM action="qcm3.html" method="post" NAME="qcm2">
<B>Question 2/8 :</B><BR>
<p>Dans quelle poubelle vont les jouets d'enfants?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT required="required"value="1" TYPE="RADIO" NAME="choix">Poubelle Jaune</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">Poubelle Grise</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">Poubelle Verte</INPUT></p>
<BR><BR>

<input type="hidden" name="question" value="1"/>


<input type="submit" value="Envoyer" />	


</FORM>
<HR>







