


<Doctype_html>
<html>
	<head>
				
 		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>

	
<HR>
<FORM action="qcm5.html" method="post" NAME="qcm4">
<B>Question 4/8 :</B><BR>
<p>Quel objet va dans la poubelle grise?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT TYPE="RADIO" required="required" value="1" NAME="choix">Les Cartons</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">Les Bocaux</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">Aucun</INPUT></p>
<BR><BR>

 
<input type="hidden" name="question" value="3"/>


<input type="submit" value="Envoyer" />	


</INPUT>
</FORM>
<HR>









