


<Doctype_html>
<html>
	<head>
				
 		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>

	

<HR>
<FORM action="qcm6.html" method="post" NAME="qcm5">
<B>Question 5/8 :</B><BR>
<p>Je veux jeter un meuble de plus de 80 cm. Je le met :<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT TYPE="RADIO" value="1" required="required" NAME="choix">Dans Les Encombrants</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">A La Déchéterie</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">A La Poubelle Grise</INPUT></p>
<BR><BR>
<input type="hidden" name="question" value="4"/>


<input type="submit" value="Envoyer" />	
</FORM>
<HR>





