<Doctype_html>
<html>
	<head>
				
 			<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>




<HR>
<FORM action="qcm7.html" method="post" NAME="qcm6">
<B>Question 6/8  :</B><BR>
<p>Où peut-on jeter nos piles?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT TYPE="RADIO" value="1" required="required" NAME="choix">Dans Les Magasins Et La Déchéterie</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">Poubelle Grise Et Encombrant</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">Poubelle Jaune Et Déchèterie</INPUT></p>
<BR><BR>
<input type="hidden" name="question" value="5"/>


<input type="submit" value="Envoyer" />	
</INPUT>
</FORM>
<HR>




