
<Doctype_html>
<html>
	<head>
				<meta charset="utf-8/">
			<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>

	



<HR>
<FORM action="qcm8.html" method="post" NAME="qcm7">
<B>Question 7/8 :</B><BR>
<p>Pourquoi les poubelles dasris ne servent que pour le domaine médical?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT TYPE="RADIO" value="1" required="required" NAME="choix">Elle Sert A Mettre Les Déchets Infectieux</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">Non Elles Servent Aussi Hors Domaine Médical</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">Elle Sert A Mettre Des Dèchets Toxiques</INPUT></p>
<BR><BR>
<input type="hidden" name="question" value="6"/>


<input type="submit" value="Envoyer" />	
</FORM>
<HR>






	