
<Doctype_html>
<html>
	<head>
				<meta charset="utf-8/">
			<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>








<HR>
<FORM action="qcm9.html" method="post" NAME="qcm8">
<B>Question 8/8 :</B><BR>
<p>Que Mettons-nous dans les poubelles dasris?<BR></p>
<p> <B>Réponses :</B> </p>
<p><INPUT TYPE="RADIO" value="1" required="required" NAME="choix">Elle Sert A Mettre Des Produits Chimiques</INPUT></p>
<p><INPUT TYPE="RADIO" value="2" NAME="choix">Elle Sert A Mettre Des Pansements, Seringues</INPUT></p>
<p><INPUT TYPE="RADIO" value="3" NAME="choix">On Peut Y Mettre Tout Les Objets (Carton, Plastique...)</INPUT></p>
<BR><BR>
<input type="hidden" name="question" value="7"/>


<input type="submit" value="Envoyer" />	
</FORM>
<HR>




