<html>
	<head>
				
 		<meta charset="utf-8/">
		<link href="{{ url_for('static', filename='qcm.css') }}" rel="stylesheet" type="text/css" />
		<title>QCM</title>
	
 </SCRIPT>
	</head>
	
	
	
	
	
	<header>
		<nav>
		<ul >
		<li ><a href="{{ url_for('accueil') }}" > Accueil </a></li>
		<li ><a href="https://solidarites-sante.gouv.fr/sante-et-environnement/air-exterieur/qualite-de-l-air-exterieur-10984/article/qualite-de-l-air-sources-de-pollution-et-effets-sur-la-sante"target="_blank">L'actualité </a></li>
		<li ><a href="https://www.1jour1actu.com/info-animee/__trashed"target="_blank">Pollution</a></li>
		<li><a href="https://www.encyclopedie-environnement.org/air/les-pollutions-de-lair/"target="_blank">Histoire</a></li>
		</ul>
		</nav>
		</header>
		
		
		
		<HR>
 <h2> Vous avez terminé le QCM!!</h2>
 <h2>J'espère que vous l'avez réussi.</h2>
 <h2>Si ce site vous a bien aidé, n'hésitait pas à le partager avec vos proches et amis.</h2>
 <h1> Votre score est de : {{points}}/8 <h1>
 
 <h3> ><a href="qcm1.html" >Recommencer le QCM </a></h3>



	
		
		
		
		
		
		
		
		
		
		
		
		
<footer>	
		<li ><a href="qui.html">Qui sommes nous? </a></li>
		<li ><a href="contact.html">Nous contacter</a></li>

		<li><a href="condition.html">Condition pour aider la planète</a></li>
		</footer> 